*,*::before,*::after{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family:sans-serif;
    background-color: #1c2431;
}
.container {
    background-color: #1c2431;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.3);
    text-align: center;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}
  
@media (min-width: 640px) {
    .container {
      max-width: 840px;
    }
}
main{
    min-height: 100vh;
}
/**/
header{
    margin: 0;
    color: #f0f0f0;
}
.main-Title{
    font-weight: 700;
    margin-top: 0px;
    font-size: 48px;
    text-align: start;
    text-wrap: wrap;
    word-break: break-word;
}
/* components */  
.component {
    background-color: rgba(28, 36, 49, 0.575);
    color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px 0;
    text-align: center;
    width: 98%;
    margin: 10px auto;
    box-sizing: border-box;
}
.component h2 {
    font-size: 24px;
    margin: 0;
    margin-bottom: 10px;
}
  
.component p {
    margin-top: 0;
    font-size: 16px;
}

.showCase {
    display: flex;
    flex-direction: column;
    gap: 10px; 
    margin-top: 10px; 
}
.showCase img{
    min-height: 300px;
}
.showCase .code{
    width: 100%;
    min-height: 300px;
}
.--deckgo-highlight-code-border-radius{
    border-radius: 20px;
}
.deckgo-highlight-code-carbon{
    width: 100%;
    height: 100%;
    min-height: 300px;
    margin: 0;
}
@media (min-width: 768px) {
    .components {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .component {
        flex: 0 0 calc(50% - 20px); 
    }

    .component .showCase {
        margin-top: 0;
    }

    .showCase {
        flex-direction: row; 
    }
    .showCase img {
        width: calc(50% - 5px);
    }
    .showCase .code{    
        width: calc(50% - 5px);
    }
}

/**/
footer {
    background-color: #1c2431;
    color: white;
    padding: 20px 0;
    text-align: center;
}
footer .container{
    box-shadow: none;

}
.media {
    display: flex;
    flex-direction: column; 
    align-items: center; 
  }
.footer-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
}
.footer-image {
    margin-right: 20px;
} 
.icon-container {
    display: flex;
    gap: 10px;
}
.footer-icon {
    font-size: 24px;
}
.footer-icon a{
    text-decoration: none; 
    color: inherit; 
    cursor: pointer; 

}
@media (max-width: 768px) {
    .footer-inner {
        flex-direction: column;
        text-align: center;
    }

    .footer-image {
        margin-right: 0;
    }
}

.footer-text {
    text-align: center;
    font-size: 1rem;
}
.footer-text p{
    margin: 0;
}
  
  
  
  
  
  